h1 {
    text-align: center;
    font-size: 60px;
    font-family: 'Sigmar One', cursive 
}

#myCanvas {
    display: block;
    margin: 0 auto;
}

.happybeer {
     width: 100px;
     height:100px;
}

